.personal-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7.5px;
}

.name {
  font-size: 2.5rem;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}