.work-experience,
.section-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subheading {
  font-size: 1.1rem;
  border-bottom: 1px black solid;
}

.job-section {
  /* padding: 10px 0px; */
}

.job-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.date {
  color: rgb(139, 138, 138)
}

.job-description {
  margin-top: 10px;
}